<% include ../partials/header %>



<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Movie Buzz!</h1>
            <p>Watched a movie?</p>
            <% if (!currentUser){%>
            <p><a href="/login">Sign in </a>to share your review with us.</a></p>
            <% }else{ %>
            <p>Add a Movie Review Now!</p>
            <%}%>
            
            <p>
                <a class="btn btn-primary btn-lg" href="/movies/new">Add a Movie Review</a>
            </p>
        </div>
        
    </header>
    
    <div><h3 style="margin-bottom:5px">Latest Movie Reviews</h3></div>
    <div class="row text-center">
       
       <% movies.forEach(function(movie){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img style="width:100%; height:200px" src="<%= movie.image %>" />
                <div class="caption">
                     <h4>
                        <%= movie.name%>
                    </h4>
                    <p style="text-align:justify ; font-size:12px; ">Posted by: <%=movie.author.username%></p>
                    <p style="text-align:justify ; font-size:12px; ">User's Rating: <%=movie.rating%></p>
                    <p style="text-align:justify ; font-size:12px; ">Posted on: <%=moment(movie.created).fromNow()%></p>
                    
                </div>
                
                
                <p>
                     <a href="/movies/<%= movie._id %>" class="btn btn-primary">Read More</a>
                </p>
            </div>
        </div>
        <% }); %> 
    </div>
    
</div>

   

<% include ../partials/footer %>