<% include ../partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Movie Buzz</p>
            <div class="list-group">
                <li class="list-group-item active">Movie Name: <%=movie.name%></li>
                <li class="list-group-item">Reviewed By: <%=movie.author.username%></li>
                <li class="list-group-item">Movie Rating: <%=movie.rating%>/10</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                 <img class="img-responsive" src="<%=movie.image%>">
            
                <div class="caption-full">
                    <h4 class="pull-right">Rating: <%= movie.rating %>/10</h4>
                    <h4 ><a><%=movie.name%></a></h4>
                    <p><i>Posted By: <%=movie.author.username %></i></p>
                    <p style="font-size:11px"><%=movie.created.toDateString()%></p>
                    <p style="text-align:justify; font-family:'Open Sans', sans-serif"><%=movie.description%></p>
                    
                    
                    <% if(currentUser && movie.author.id.equals(currentUser._id)){ %>
                        
                        <a  class="btn btn-warning" href="/movies/<%=movie._id%>/edit">Edit</a>
                        <form id="deleteform" action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        
                    <%}%>
                 
                        
            
                    
                    
                </div>
            </div>
            <div class="well">
                <div class="text-right"><a class="btn btn-success" href= "/movies/<%=movie._id%>/comments/new">Add a Comment</a>
                </div>
                <% movie.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <p></p>
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right" style="font-size:11px"><%=comment.created.toDateString()%></span>
                        </div>
                     </div>
                    <p><%= comment.text %></p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                         <a class="btn btn-warning btn-xs" href="/movies/<%=movie._id%>/comments/<%=comment._id%>/edit">Edit</a>
                    <form class="delete-form" action="/movies/<%=movie._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                       <button class="btn btn-danger btn-xs">Delete</button> 
                    </form>
                  
                   <% } %>
                   
                    
                   
                <% }) %>
            </div>
        </div>
    </div>
   
</div>



<% include ../partials/footer%>